<h1>
  Edit journal method #<%= @journal_method.id %>
</h1>

<hr>

<form action="/update_journal_method/<%= @journal_method.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @journal_method.name %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @journal_method.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update journal method
  </button>
</form>

<hr>

<a href="/journal_methods">
  Go back
</a>
